In [ ]:
import pandas as pd

In [13]:
df = pd.read_csv("tabelas/tabela_2_1.csv")
df

,N,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Meses,Região de Procedência
0,1,solteiro,ensino fundamental,NaN,"4,00",26,3,interior
1,2,casado,ensino fundamental,1.0,"4,56",32,10,capital
2,3,casado,ensino fundamental,2.0,"5,25",36,5,capital
3,4,solteiro,ensino médio,NaN,"5,73",20,10,outra
4,5,solteiro,ensino fundamental,NaN,"6,26",40,7,outra
5,6,casado,ensino fundamental,0.0,"6,66",28,0,interior
6,7,solteiro,ensino fundamental,NaN,"6,86",41,0,interior
7,8,solteiro,ensino fundamental,NaN,"7,39",43,4,capital
8,9,casado,ensino médio,1.0,"7,59",34,10,capital
9,10,solteiro,ensino médio,NaN,"7,44",23,6,outra
10,11,casado,ensino médio,2.0,"8,12",33,6,interior
11,12,solteiro,ensino fundamental,NaN,"8,46",27,11,capital
12,13,solteiro,ensino médio,NaN,"8,74",37,5,outra
13,14,casado,ensino fundamental,3.0,"8,95",44,2,outra
14,15,casado,ensino médio,0.0,"9,13",30,5,interior
15,16,solteiro,ensino médio,NaN,"9,35",38,8,outra
16,17,casado,ensino médio,1.0,"9,77",31,7,capital
17,18,casado,ensino fundamental,2.0,"9,80",39,7,outra
18,19,solteiro,superior,NaN,"10,53",25,8,interior
19,20,solteiro,ensino médio,NaN,"10,76",37,4,interior
20,21,casado,ensino médio,1.0,"11,06",30,9,outra
21,22,solteiro,ensino médio,NaN,"11,59",34,2,capital
22,23,solteiro,ensino fundamental,NaN,"12,00",41,0,outra
23,24,casado,superior,0.0,"12,79",26,1,outra
24,25,casado,ensino médio,2.0,"13,23",32,5,interior
25,26,casado,ensino médio,2.0,"13,60",35,0,outra
26,27,solteiro,ensino fundamental,NaN,"13,85",46,7,outra
27,28,casado,ensino médio,0.0,"14,69",29,8,interior
28,29,casado,ensino médio,5.0,"14,71",40,6,interior
29,30,casado,ensino médio,2.0,"15,99",35,10,capital
30,31,solteiro,superior,NaN,"16,22",31,5,outra
31,32,casado,ensino médio,1.0,"16,61",36,4,interior
32,33,casado,superior,3.0,"17,26",43,7,capital
33,34,solteiro,superior,NaN,"18,75",33,7,capital
34,35,casado,ensino médio,2.0,"19,40",48,11,capital
35,36,casado,superior,3.0,"23,30",42,2,interior

In [36]:
df = pd.read_csv("dados/CD-CO2.csv")
df

              País Emissão        País.1 Emissão.1           País.2 Emissão.2
0      Afeganistão    0,02       Equador      0,54      Quirguistão      0,33
1          Albânia    0,15         Egito      0,40       Madagascar      0,02
2          Algéria    0,89   El Salvador      0,25           Malaui      0,02
3           Angola    0,12       Estônia      3,02          Malásia      1,44
4        Argentina    1,02       Etiópia      0,06             Mali      0,01
5          Armênia    0,27         Gabão      0,90       Mauritânia      0,37
6        Austrália    4,43        Gâmbia      0,05         Mauricio      0,36
7          Áustria    2,01       Geórgia      0,39           México      1,07
8       Azerbaijão    1,54      Alemanha      2,79         Moldávia      0,67
9          Camboja    0,01          Gana      0,06         Mongólia      0,94
10        Camarões    0,09        Grécia      1,99         Marrocos      0,30
11          Canadá    4,04     Guatemala      0,18       Moçambique      0,02
12  África Central    0,02         Guiné      0,04           Myanma      0,04
13           Chade    0,00  Guiné-Bissau      0,06              Omã      1,41
14           Chile    0,85         India      0,27          Romênia      1,45
15           China    0,71     Indonésia      0,41           Rússia      3,34
16        Colômbia    0,51           Irã      1,05           Ruanda      0,03
17           Congo    0,13        Iraque      1,34     Tadjiquistão      0,18
18      Rep, Congo    0,01       Irlanda      2,48         Tanzânia      0,02
19      Costa Rica    0,42        Israel      2,00           Uganda      0,01
20    Costa Marfim    0,21        Itália      1,96          Ucrânia      2,31
21         Croácia    1,03   Cazaquistão      3,59  Emirados Árabes      8,44
22            Cuba    0,72        Quênia      0,07      Reino Unido      2,55
23      Rep. Theca    2,98         Kuait      7,86   Estados Unidos      5,27

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data    120 non-null    object
 1   CO      120 non-null    object
 2   O3      120 non-null    object
 3   temp    120 non-null    object
 4   umid    120 non-null    object
dtypes: object(5)
memory usage: 4.8+ KB